{
  "openapi": "3.0.0",
  "info": {
    "title": "ChittyOS Chronicle API",
    "version": "1.0.0",
    "description": "Chronicle service for ChittyOS - Event sourcing and audit trail management",
    "contact": {
      "name": "ChittyOS Support",
      "email": "support@chittyos.com",
      "url": "https://chittyos.com"
    }
  },
  "servers": [
    {
      "url": "https://api.chitty.cc/chronicle",
      "description": "Production server"
    }
  ],
  "paths": {
    "/events": {
      "get": {
        "summary": "List events",
        "description": "Retrieve a list of chronicle events",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of events to return",
            "schema": {
              "type": "integer",
              "default": 100,
              "maximum": 1000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of events to skip",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter by event type",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "events": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Event"
                      }
                    },
                    "total": {
                      "type": "integer"
                    },
                    "offset": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create event",
        "description": "Create a new chronicle event",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEventRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Event created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          }
        }
      }
    },
    "/events/{eventId}": {
      "get": {
        "summary": "Get event",
        "description": "Retrieve a specific event by ID",
        "parameters": [
          {
            "name": "eventId",
            "in": "path",
            "required": true,
            "description": "Event ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Event details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Event"
                }
              }
            }
          },
          "404": {
            "description": "Event not found"
          }
        }
      }
    },
    "/openapi.json": {
      "get": {
        "summary": "OpenAPI specification",
        "description": "Returns the OpenAPI specification for Chronicle API",
        "responses": {
          "200": {
            "description": "OpenAPI specification",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Event": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique event identifier"
          },
          "type": {
            "type": "string",
            "description": "Event type"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Event timestamp"
          },
          "actor": {
            "type": "string",
            "description": "Entity that triggered the event"
          },
          "payload": {
            "type": "object",
            "description": "Event payload"
          },
          "metadata": {
            "type": "object",
            "description": "Additional metadata"
          }
        },
        "required": ["id", "type", "timestamp", "payload"]
      },
      "CreateEventRequest": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Event type"
          },
          "actor": {
            "type": "string",
            "description": "Entity that triggered the event"
          },
          "payload": {
            "type": "object",
            "description": "Event payload"
          },
          "metadata": {
            "type": "object",
            "description": "Additional metadata"
          }
        },
        "required": ["type", "payload"]
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ]
}
